table{
    border-collapse: collapse;
   
   }
   td,th{
       border: 2px solid blue;
       text-align: center;
       padding: 2px;
   }

   .ancho{ 
    width: 50px; 
      height: 10px;} ;

  

    